rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /home/{co2Doc} {
        allow read: if true;
    }
  }
}